*__pycache__
data/raw/train-xml/6*
data/raw/train-xml/5*
data/raw/train-xml/4*
data/raw/train-xml/3*
data/raw/train-xml/2*
data/raw/train-xml/19*
data/raw/train-xml/18*
data/raw/train-xml/15*
data/raw/train-xml/14*
data/raw/train-xml/13*
data/raw/train-xml/12*
data/raw/train-xml/11*
data/raw/train-xml/107*
data/raw/train-xml/106*
data/raw/train-xml/104*
data/raw/dev-xml/7*
data/raw/dev-xml/6*
data/oracles/dev/*
data/oracles/train/*
data/raw/unconvertable

checkpoint
env-train*.json
env_r_model-415272*
dist/
drl_ucca.egg-info/
